@font-face {
    font-family: "Unbounded";
    src: url(./fonts/Unbounded-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #F5F5F5;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 75px 360px 75px 360px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;   
}

.titulo-principal {
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    font-size: 64px;
}

.spantext {
    margin: 0 0 0 30px;
    color:#9747FF;
}

.paragrafo1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 0 0 40px 0;
}

.botao-link {
    display: block;
    background-color: #9747FF;
    border-radius: 36px;
    width: 340px;
    height: 66px;
    text-decoration: none;
    text-align: center;
    line-height: 66px;
    font-size: 24px;
    color: #F5F5F5;
    margin: 0 0 40px 0;
    font-family: "Poppins", sans-serif;
    &:hover {
        background-color: #8233E8;
    }
}