@font-face {
    font-family: "Unbounded";
    src: url(./fonts/Unbounded-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #0E1014;
    color: #FFFFFF;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 70px 360px 70px 360px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.titulo-principal {
    font-family: "Unbounded", sans-serif;;
    font-size: 64px;
    font-weight: 700;
    color: #F5F5F5;
    margin-top: 60px 0 24px 0;
}

.parte-titulo {
    color: #9747FF;
}

.paragrafo1 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

.botaolink {
    display: block;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    background-color: #9747FF;
    border-radius: 36px;
    width: 340px;
    height: 66px;
    text-decoration: none;
    text-align: center;
    color: #F5F5F5;
    line-height: 66px;
    margin: 40px auto;
}

.botaolink:hover {
    background-color: #8233E8;
}

.imagem-celulares {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}